
Arquivos - Aula 2/CADASTRO DE CLIENTES.xlsx
Arquivos - Aula 2/Excel Componente.txt
Arquivos - Aula 2/Funções de Extração de Cidade e Estado.txt
Arquivos - Aula 2/REGIOES DOS ESTADOS.csv
Arquivos - Aula 3/Funções de Extração de Marca, Sabor e Tamanho.txt
Arquivos - Aula 3/MARCAS E CATEGORIAS.csv
Arquivos - Aula 3/PRODUTOS.xlsx
Arquivos - Aula 3
Arquivos - Aula 4
Arquivos - Aula 5
Arquivos - Aula 6
